<%- include('partials/header') %>
<main>
  <h1>My first Node.js, Express, and EJS web application!</h1>
  <p>Claude helped with the styling of this website</p>
</main>
<%- include('partials/footer') %>
